@font-face {
    font-family: 'Bebas';
    src:  url('../files/BEBAS.ttf') format('truetype');
}

.bg {
    background: url(../files/me.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0px;
}

html{
    font-family: 'Bebas';
    color: '#0A090C'
}

#personalInfo{
    height:600px;
    min-height:600px;
    width:50%;
    text-align: center;
    padding-top:20%;
    margin-top: 8px;
    margin-left:8px;
    background-color: rgba(240, 237, 238, 0.85);
}

#everythingUnderTheSun{
    width:100%;
    background-color: rgba(240, 237, 238, 1);
    height:1000px;
}

#pageMenu{
    width:100%;
    background-color: rgba(7,57,60,1);
    height:75px;
}

#list{
    display: inline-block;
    height:45px;
    margin-left:5px;
    margin-top:0px;
}

#link{
    display: inline-block;
    margin-left:5px;
    margin-top:0px;
    width:33%;
}

ul{
    padding:0px;
}

#headerMenu{
    margin:0px;
    color:rgba(240, 237, 238, 1);
    margin-left:5px;
    margin-top:15px;
}

#navigableButton{
    height:100%;
    width:100%;
    margin-left:5px;
    margin-right:5px;
    border-radius: 5px;
    background-color:rgba(44,104, 110, 1);
    font-family: 'Bebas';
    color:rgba(240, 237, 238, 1);
    border:none;
}

#navigableButton:hover{
    display: inline-block;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgray;
    background-color: rgba(44,104, 110, .65);
    height:45px;
    border:none;
}

#resume{
    display: block;
    width:100%;
}

#iFrame{
    margin: 0 auto;
    display: block;
}

#header{
    margin-left:15px;
}

#video{
    display:none;
    width:100%;
}

#courses{
    display:none;
    width:100%;
}

#location{
    display:none;
    width:100%;
}

#favoriteLinks{
    display:none;
    width:100%;
}

table{
    margin-left:20px;
}